<table class="grid-3-4 bs-table task-list">
    <thead>
        <tr>
            <th>#</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody>
		<tr ng-repeat="task in tasks" class="task-priority-{{ task.priority.id }} task-status-{{ task.status.id }}">
			<td>{{ task.id }}</td>
			<td><a href="#/tasks/{{ task.id }}">{{ task.subject }}</a></td>
        </tr>
    </tbody>
</table>

<aside class="grid-1-4 user-list">
	<div class="user-selected">
		<span class="avatar" ng-repeat=" user in users | filter: { checked: true} ">
			<img ng-src="{{ user.avatar }}" class="avatar-img" title="{{ user.name }}">
			<!-- <span class="cancel" title="Cancel">X</span> -->
			<p>
				{{ user.name }}
			</p>
		</span>
	</div>
	<div class="tabbable user-list-panel">
		<div class="tab-pane" label="{{ group.label }}" ng-repeat="group in groups">
			<span class="avatar" ng-repeat=" user in users | filter: { group: group.value } " ng-class="{ selected: user.checked == true }" ng-click="toggleItem(user)">
				<img ng-src="{{ user.avatar }}" class="avatar-img" title="{{ user.name }}">
				<p>
					{{ user.name }}
				</p>
				<!-- <span class="cancel" title="Cancel">X</span> -->
			</span>
        </div>
    </div>
</aside>

<!--
<form class="user-list">
	<label for="option-{{ $index }}" ng-repeat="user in users" class="user-item">
		<input id="option-{{ $index }}" type="checkbox" ng-model=" user.checked " ng-change="updateList()">
			{{ user.firstname + ' ' + user.lastname }}
    </label>
</form>
-->
