/* app css stylesheet */

body {
	padding: 5em 2em 1em;
}

.nav-menus{
	position: fixed;
	left: 0;
	top: 0;
	border-bottom: 1px solid #B7B7B7;
	width: 100%;
	z-index: 1;
	background-color: rgb(37, 42, 58);
}
.nav-menus-item{
   	padding: .5em 2em;
	float: left;
	text-decoration: none;
	color: #999;
}
.nav-menus-item:hover, .nav-menus-item.active {
	background-color: rgb(55, 60, 90);
	color: #FFF;
}

/*
.project {
	overflow: hidden;
	padding-bottom: 2em;
	border-bottom: 1px solid #EEE;
	margin-bottom: 4em;
}
.project-preview {
	float: right;
}

.workflow{
	margin-top: 2em;
	text-align: center;
	position: relative;
	padding: 2em 0 0;
	margin-bottom: 2em;
	overflow: hidden;
}
.steps{
	list-style: none;
	width: 860px;
	margin: 1em auto 0;
}
.steps .tag{
	width: 200px;
	text-align: center;
	float: left;
	color: #B22222;
}
.workflow .failed{
	position: absolute;
	left: 50%;
	top: 0;
}

.failed.dev{
	margin-left: -260px;
}
.failed.sit{
	margin-left: -30px;
}
.workflow .step {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border: 1px solid #B22222;
	line-height: 1.5em;
	border-radius: .75em;
	margin-right: 10px;
}
.workflow-step li{
	margin-bottom: .6em;
}

.portrait {
	text-align: center;
	height: 30em;
	position: relative;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	background: url(default.png) no-repeat center 7em;
	margin: 0;
}
.portrait-desc {
	text-align: left;
	position: absolute;
	height: 6em;
	bottom: 0;
	padding: 0 1em;
}
*/

.user-list {
	position: fixed;
	top: 5em;
	right: 1em;
}
.user-item {
	display: block;
}

.avatar {
	display: block;
	text-align: center;
}
.avatar-img{
	max-width: 100px;
	max-height: 100px;
	border-radius: 3px;
}

.log-time{
	list-style: none;
	position: relative;
	min-height: 100px;
	padding: 40px 0 0 120px;
}
.log-time .avatar {
	position: absolute;
	left: 0;
	top: 0;
}

.sign-out {
	position: fixed;
	top: .5em;
	right: 1em;
}

.attachment{
	background: url(attach.png) no-repeat;
	padding-left: 20px;
	margin-right: 12px;
}

.task-main{
	border-right: 1px solid #DDD;
	/*
	width: 
	*/
}
.task-comments{
	list-style: none;
	padding: 0;
}
.task-comment{
	position: relative;
	min-height: 100px;
	padding-left: 80px;
}
.task-comment .avatar{
	position: absolute;
	left: 0;
	top: 0;
	font-size: 13px;
}
.task-comment .avatar-img{
	max-width: 60px;
	max-height: 60px;
}
.task-comment-date{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	color: #999;
}
.task-comment-move{
	list-style: none;
	padding: 0;
}
.task-metas{
	list-style: none;
	padding: 0;
}
.task-meta .label{
	color: #999;
}
.task-header{
	border-bottom: 1px solid #DDD;
	padding-bottom: 5px;
	min-height: 80px;
}
.task-heading{
	margin-bottom: 8px;
}
.task-header .avatar{
	float: right;
}
.task-header .avatar-img{
	max-width: 80px;
	max-height: 80px;
}

/* urgent */
.task-priority-4{
	background-color: #f2dede;
}
/* ing */
.task-status-2{
  background-color: #fcf8e3;
}
/* new */
.task-status-1{
  background-color: #d9edf7;
}
/* resolved */
.task-status-3{
  background-color: #dff0d8;
}

.task-list .task-priority-4:hover{
	background-color: #ebcccc;
}
.task-list .task-status-2:hover{
	background-color: #faf2cc;
}
.task-list .task-status-1:hover{
	background-color: #c4e3f3;
}
.task-list .task-status-3:hover{
	background-color: #d0e9c6;
}

.tab-pane{
	display: none;
}
.tab-pane.active{
	display: block;
}

.user-list .avatar{
	width: 60px;
	height: 80px;
	overflow: hidden;
	display: inline-block;
	font-size: 11px;
	padding: 3px;
	margin: 0 2px 8px;
	vertical-align: middle;
}

.user-list{
	border-left: 1px solid #DDD;
}
.user-selected{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #DDD;
	height: 100px;
	overflow: auto;
}

.user-list-panel{
	position: relative;
}
.user-list .nav-tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
.user-list .nav-tabs li{
	border-left: 1px solid #DDD;
	padding: .5em 1em;
	background-color: #DDD;
}
.user-list .nav-tabs li.active{
	border-left: 0 none;
	background-color: transparent;
}
.user-list .avatar{
	cursor: default;
}
.user-list .avatar-img{
	max-width: 50px;
	max-height: 50px;
}
.user-list .avatar:hover{
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.user-list .avatar.selected{
	background-color: #CCC;
}
